.link{
    text-decoration: none;
}
.header-container {
    margin-right: auto;
    margin-left: auto;
}
.link.current::after {
    content: '';
    display: block;
    background-color: $orange-text-color;
    width: 100%;
    height: 3px; 
    
}
.form-search {
    display: flex;
    justify-content: center;
    
    margin: 0;
}

.main-nav {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    
}
.site-nav.list {
    display: flex;
    margin-left: auto;
 
}
.site-nav .link {
    display: block;
    padding-top: 58px;
    padding-bottom: 41px;
    color: $white-text-color;
    font-size: 12px;
    line-height: 1.17;
}
.film-icon {
    display: block;
    margin-right: 10px;
}
.search-icon {
    display: block;
}
.input-search {
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $white-text-color;
    caret-color: $white-text-color; 
    
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #ffffff;
    outline: none;
    padding-bottom: 4px;
}



input::placeholder{
    color: $white-text-color;
}

.logo.link {
    font-family: $main-font;
    display: flex;
    align-items: baseline;
   color: $white-text-color;
    font-size: 30px;
    line-height: 1.17;
}
@media screen and (max-width: 767px){
    .logo-word {
    display: none;
}
.label-search {
    flex-grow: 1;
}
}
.label-search {
    display: flex;
   
}
.header-section{
  
    @media screen and (max-width: 767px){
        padding-left: 20px;
        padding-right: 20px;
    } 
    @media screen and (min-width: $tablet) and (max-width: 1023px){
        padding-left: 75px;
        padding-right: 75px;
    } 
    @media screen and (min-width: $desktop){
        padding-left: 71px;
        padding-right: 71px;
    } 
}


.site-nav .item:not(:last-child) {
    margin-right: 40px;
}
    

@media screen and (min-width: $tablet) {
    .input-search {
        width: 336px;
    }
}
.h-buttons {
    display: flex;
    justify-content: center;

}
.header-button {
    
    color: $white-text-color;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 14px 12px;
    min-width: 136px;
    @media screen and (max-width: 767px) {
        min-width: 130px;
    }
}
.header-button:not(:last-child){
    @media screen and (max-width: 767px) {
        margin-right: 20px;
    }
    @media screen and (min-width: $tablet) {
        margin-right: 15px;
    }
}
.header-button:focus {
    background-color: $button-bg-color;
    border-color: $button-bg-color; 
    outline: none;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    display: block;
    max-width: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ),
        url('..//images/header/homemob.jpg'); 
       
}

 @media screen and (max-width: 767px){
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .overlay{
              background-image: linear-gradient(
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)
                ),
                url('..//images/header/homemob@2x.jpg');
                }
            }
    
              @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 3dppx),
            screen and (min-resolution: 288dpi) {
                .overlay{
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)
                ), url('..//images/header/homemob@3x.jpg');
                }
            }
    } 

    
      @media screen and (min-width: $tablet) {
        .overlay {
      background-image: linear-gradient(
              rgba(0, 0, 0, 0.56),
              rgba(0, 0, 0, 0.56)
              ),
        url('..//images/header/hometablet.jpg');
            }

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .overlay{
                min-height: 230px;
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ),
            url('..//images/header/hometablet@2x.jpg');
            }
        }

        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
            .overlay{
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ), url('..//images/header/hometablet@3x.jpg');
                }
        }

    }


    @media screen and (min-width: $desktop) {
        .overlay {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('..//images/header/homedesk.jpg'); 
            } 
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .overlay{
              background-image: linear-gradient(
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)
                ),
                url('..//images/header/homedesk@2x.jpg');
            }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
            .overlay{
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ), url('..//images/header/homedesk@3x.jpg');
                }
             }
    }
  
 

.library-overlay{
    display: block;
    max-width: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
       
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ),
        url('..//images/header/librarymob.jpg'); 
}



     @media screen and (max-width: 767px){
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .library-overlay{
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ),
            url('..//images/header/librarymob@2x.jpg');
                }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
            .library-overlay{
                min-height: 230px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ), url('..//images/header/librarymob@3x.jpg');
        }}

    }

         @media screen and (min-width: $tablet) {
        .library-overlay{
            min-height: 230px;
      background-image: linear-gradient(
              rgba(0, 0, 0, 0.56),
              rgba(0, 0, 0, 0.56)
              ),
        url('..//images/header/librarytablet.jpg');
        }
         @media screen and (min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx) {
             .library-overlay{
           background-image: linear-gradient(
             rgba(0, 0, 0, 0.56),
             rgba(0, 0, 0, 0.56)
             ),
             url('..//images/header/librarytablet@2x.jpg');
            }
        }
            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 3dppx),
            screen and (min-resolution: 288dpi) {
                .library-overlay{
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)
                ), url('..//images/header/librarytablet@3x.jpg');
            }
        }
    }


    @media screen and (min-width: $desktop) {
        .library-overlay {
            min-height: 230px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('..//images/header/librarydesk.jpg');
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .library-overlay{
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ),
            url('..//images/header/librarydesk@2x.jpg');
             }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
            .library-overlay{
            min-height: 230px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
            ), url('..//images/header/librarydesk@3x.jpg');
             }
         }
    } 

   