<header class="library-overlay">
  <div class="header-container header-section">
    <nav class="main-nav">
      <a href="../src/index.html" class="logo link"><svg width="24" height="24" class="film-icon">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg><span class="logo-word">Filmoteka</span></a>
      <ul class="site-nav list">
        <li class="item"><a href="../src/index.html" class="link">HOME</a></li>
        <li class="item">
          <a href="#" class="link current">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <div class="h-buttons">
      <button type="button" class="header-button">WATCHED</button>
      <button type="button" class="header-button">QUEUE</button>
    </div>
 </div>   
</header>   