
<header class="overlay">
  <div class="header-container header-section">
  <nav class="main-nav">
      <a href="../src/index.html" class="logo link"><svg width="24" height="24" class="film-icon">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg><span class="logo-word">Filmoteka</span></a>
      <ul class="site-nav list">
        <li class="item"><a href="#" class="link current">HOME</a></li>
        <li class="item">
          <a href="../src/my-library.html" class="link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    
    <form class="form-search" id="searchForm">
        <label class="label-search"><input type="text" name="query" placeholder="Поиск фильмов" class="input-search">
       <button type="submit" class="btn-search-icon">
        <svg width="12" height="12" class="search-icon">
          <use
            href="./images/sprite.svg#icon-search"
          ></use>
        </svg>
       </button>
       
        </label>
    </form>
 </div>   
</header>


