/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

 @import 'basiclightbox/dist/basicLightbox.min.css';

// ДОбавляет точки перелома
@import './utils/breakpoints';

// Добавляет общие стили и переменные
@import './utils/variables';
@import './components/common';

@import './components/loader';

// Добавляет обнуление
@import './base/nullifier';

// Добавляет плейсхолдеры
// @import './utils/placeholders';

// добавляет модуль хедера
@import './components/page-header/header-home';
@import './components/page-header/header-library';

//добавляет стили основного контейнера
@import './components/main-container';
@import './components/movies-list';

// добавляет стили футера
@import './components/footer';

//добавляет стили пагинации
@import './components/paginator';

// Добавляет стили на модалку
@import './components/modal';


