$footer-text-color: #545454;
$background-primary-color: #ffffff;
$primary-text-color: #000000;
$white-text-color: #ffffff;
$footer-bg-color: #F7F7F7;
$error-text-color: #FF001B;
$orange-text-color: #FF6B08;
$button-bg-color: #FF6B01;
$modal-description-color: #8C8C8C; /* рейтинг, жанр*/

$main-font: Roboto, sans-serif;
