//ПРИМЕР

// $primaty-text-color: #555555;
// $heading-text-color: #303030;
$footer-text-color: #545454;
// $accent-color: #ff6c00;
$background-primary-color: #f7f7f7;
// $white: #ffffff;
// $footer-background: #191c26;
// $icons-color: #afb1b8;
// $main-font: Raleway, sans-serif;
// $second-font: 'Open Sans', sans-serif;
// $main-transition: cubic-bezier(0.4, 0, 0.2, 1);
// $duration: 250ms;
// $footer-text-color: #9da4bd;
$primary-text-color: #000000;
$white-text-color: #ffffff;
$footer-bg-color: #F7F7F7;
$error-text-color: #FF001B;
$orange-text-color: #FF6B08;
$button-bg-color: #FF6B01;
$modal-description-color: #8C8C8C; /* рейтинг, жанр*/


$main-font: Roboto, sans-serif;
