 <footer class="footer">

  <div class="footer-copy">
<span>&copy; 2020 | All Rights Reserved | Developed with</span>
<svg class="icon-heart">
  <use href="./images/sprite.svg#icon-heart"></use>
</svg>
<span>by <a class="footer-link" data-modal-open href="#">GoIT Students</a></span>
</div>

 <!-- Скрипт на МОДАЛКУ -->

 <div class="backdrop is-hidden" data-modal>
  <div class="modal">

    <button class="modal__button-close" data-modal-close>
      <svg class="svg-close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>



      <section class="command">
        <h2 class="command__title">OUR TEAM:</h2>
        <ul class="person list">


    <li class="person__item">
      <img
        src="../src/images/team/max.jpg"
        alt="Maksym Borysov"
        class="person__image"

      />
      <h3 class="person__label">Maksym Borysov</h3>
      <p class="person__text">Team Lead / Frontend Developer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="mailto:waxiw@ukr.net" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/makscap" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.facebook.com/waxiw" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.linkedin.com/in/waxiw" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/elena.jpg"
        alt="Olena Alisova"
        class="person__image"
      />
      <h3 class="person__label">Olena Alisova</h3>
      <p class="person__text">Frontend Developer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/alisova-projects" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.linkedin.com/in/elena-alisova" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/ivanna.jpg"
        alt="Ivanna Melnyk"
        class="person__image"
      />
      <h3 class="person__label">Ivanna Melnyk</h3>
      <p class="person__text">Frontend Developer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="mailto:givmiller@gmail.com" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/IvannaMelnyk" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.facebook.com/ivanna.gordinskaia" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="http://linkedin.com/in/ivanna-melnyk-5479531bb" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/maylena.jpg"
        alt="Marta Stewart"
        class="person__image"
      />
      <h3 class="person__label">Maylena Lorentes</h3>
      <p class="person__text">Frontend Developer</p>
      <ul class="social list">
        <li class="social__item">
          <a href="mailto:melianmaylena@gmail.com" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/Maylena1587" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.facebook.com/profile.php?id=100001621520734" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/oksana.jpg"
        alt="Oksana Repchak"
        class="person__image"
      />
      <h3 class="person__label">Oksana Repchak</h3>
      <p class="person__text">Frontend Developer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="mailto:oksa.repchak@gmail.com" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/Oksana-Repchak" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.facebook.com/oberryo" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://www.linkedin.com/in/oksana-repchak-044468200/" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/your-photo.jpg"
        alt="Marta Stewart"
        class="person__image"
      />
      <h3 class="person__label">Marta Stewart</h3>
      <p class="person__text">Frontend Developer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/your-photo.jpg"
        alt="Robert Jakis"
        class="person__image"
      />
      <h3 class="person__label">Robert Jakis</h3>
      <p class="person__text">Marketing</p>
      <ul class="social list">

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="person__item">
      <img
        src="../src/images/team/your-photo.jpg"
        alt="Martin Doe"
        class="person__image"
      />
      <h3 class="person__label">Martin Doe</h3>
      <p class="person__text">UI Designer</p>
      <ul class="social list">

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-faceb"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <svg class="svg-icon">
              <use href="./images/sprite.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
        </section>
        </div>
        </div>
</footer>