 <footer class="footer">

  <div class="footer-copy">
<span>&copy; 2020 | All Rights Reserved | Developed with</span>
<svg class="icon-heart">
  <use href="./images/sprite.svg#icon-heart"></use>
</svg>
<span>by <a class="footer-link" data-modal-open href="#">GoIT Students</a></span>
</div>



      <!-- Наша команда -->

      <div class="container color">
        <section class="command">
          <h2 class="command__title">Наша команда</h2>
          <ul class="person list">
            <!-- <li class="person__item">
              <img
                src="../src/images/team/1.jpg"
                alt="John Smith"
                class="person__image"
                width="270"
              />
              <h3 class="person__label">Maksym Borysov</h3>
              <p class="person__text">Team Leader</p>
              <ul class="social list">
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-insta">
                      <use href="./images/sprite.svg#icon-insta"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-faceb">
                      <use href="../src/images/sprite.svg#icon-faceb"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-twit">
                      <use href="./images/sprite.svg#icon-twit"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-linked">
                      <use href="./images/sprite.svg#icon-linked"></use>
                    </svg>

                  </a>
                </li>
              </ul>
            </li> -->

            <!-- <img

            srcset="./images/Photo2@2x.jpg 2x"

              src="./images/Photo2.jpg"
              alt="Marta Stewart"
              class="person__image"
            /> -->


            <li class="person__item">
              <img



                src="../src/images/team/your-photo.jpg"
                alt="Marta Stewart"
                class="person__image"
              />
              <h3 class="person__label">Marta Stewart</h3>
              <p class="person__text">Frontend Developer</p>
              <ul class="social list">
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-insta">
                      <use href="./images/sprite.svg#icon-insta"></use>
                    </svg>


                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-faceb">
                      <use href="./images/sprite.svg#icon-faceb"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-twit">
                      <use href="./images/sprite.svg#icon-twit"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-linked">
                      <use href="./images/sprite.svg#icon-linked"></use>
                    </svg>

                  </a>
                </li>
              </ul>
            </li>

            <li class="person__item">
              <img



                src="../src/images/team/your-photo.jpg"
                alt="Marta Stewart"
                class="person__image"
              />
              <h3 class="person__label">Marta Stewart</h3>
              <p class="person__text">Frontend Developer</p>
              <ul class="social list">
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-insta">
                      <use href="./images/sprite.svg#icon-insta"></use>
                    </svg>


                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-faceb">
                      <use href="./images/sprite.svg#icon-faceb"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-twit">
                      <use href="./images/sprite.svg#icon-twit"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-linked">
                      <use href="./images/sprite.svg#icon-linked"></use>
                    </svg>

                  </a>
                </li>
              </ul>
            </li>
            <li class="person__item">
              <img

                src="../src/images/team/your-photo.jpg"
                alt="Robert Jakis"
                class="person__image"
              />
              <h3 class="person__label">Robert Jakis</h3>
              <p class="person__text">Marketing</p>

              <ul class="social list">
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-insta">
                      <use href="./images/sprite.svg#icon-insta"></use>
                    </svg>


                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-faceb">
                      <use href="./images/sprite.svg#icon-faceb"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-twit">
                      <use href="./images/sprite.svg#icon-twit"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-linked">
                      <use href="./images/sprite.svg#icon-linked"></use>
                    </svg>

                  </a>
                </li>
              </ul>
            </li>
            <li class="person__item">
              <img

                src="../src/images/team/your-photo.jpg"
                alt="Martin Doe"
                class="person__image"
              />
              <h3 class="person__label">Martin Doe</h3>
              <p class="person__text">UI Designer</p>
              <ul class="social list">
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-insta">
                      <use href="./images/sprite.svg#icon-instag"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-faceb">
                      <use href="./images/sprite.svg#icon-faceb"></use>
                    </svg>
 
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-twit">
                      <use href="./images/sprite.svg#icon-twit"></use>
                    </svg>

                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link">
                    <svg class="svg-linked">
                      <use href="./images/sprite.svg#icon-linked"></use>
                    </svg>

                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>













 <!-- Скрипт на МОДАЛКУ -->

 <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button-close" data-modal-close>
      <svg class="svg-close">
        <use href="./images/sprite.svg#svg-close"></use>
      </svg>
    </button>
    <form class="js-speaker-form form">
      <h2 class="modal__topic">
        Оставьте свои данные, мы вам перезвоним
      </h2>
      <label class="form-field">
        <input type="text" name="name" class="form-input" placeholder=" " />

        <span class="form-label">Имя</span>
        <svg class="svg-modal">
          <use href="./images/sprite.svg#modal-person"></use>
        </svg>
      </label>

      <label class="form-field">
        <input type="tel" name="tel" class="form-input" placeholder=" " />

        <span class="form-label">Телефон</span>
        <svg class="svg-modal">
          <use href="./images/sprite.svg#modal-phone"></use>
        </svg>
      </label>

      <label class="form-field">
        <input
          type="email"
          name="mail"
          class="form-input"
          placeholder=" "
        />

        <span class="form-label">Почта</span>
        <svg class="svg-modal">
          <use href="./images/sprite.svg#modal-email"></use>
        </svg>
      </label>

      <label class="form-field">
        <textarea
          class="form-input form-input--comment"
          name="comment"
          placeholder=" "
        ></textarea>
        <span class="form-label--comment">Комментарий</span>
      </label>

      <label class="form-field-checkbox">
        <input
          class="checkbox"
          type="checkbox"
          name="topic"
          value="check"
        />
        <span class="icon"></span>
        <span class="checkbox-text">
          Соглашаюсь с рассылкой и принимаю
          <a href="" class="checkbox-link">Условия договора</a>
        </span>
      </label>

      <div><button class="modal__button-send">Отправить</button></div>

      <!-- <button class="page-hero__button" data-modal-close>
            Закрыть
          </button> -->


</footer>