<header class="madal-header">
    <div class="modal-container">
<a href="">
    <svg width="70" height="60"></svg>
    <span class="modal-logo-text">Filmoteka</span>
</a>
<nav class="modal-navigation">
    <ul class="navigation-list">
        <li class="navigation-item"><a href="">Home</a></li>
        <li class="navigation-item"><a href="">my library</a></li>
    </ul>
</nav>
<div class="modal-btn">
<button>Watched</button>
<button>queue</button>
</div>
    </div>
</header>
<body>
    <div class="modal-container">
    <div class="modal-card-container">  
        <!--сюда добавляем карточку одного фильма -->
    </div>
    <div class="modal-btn">
        <button>Watched</button>
        <button>queue</button>
    </div>
    </div>
</body>
<footer>
    <div class="modal-container">
        <div class="modal-footer">
            <p class="copyright">&copy; 2020 | All Rights Reserved |&nbsp; </p>
            <div class=developers>
                <p>Developed with</p>
                <svg></svg>
                <p>by GoIT Students</p>
            </div>
        </div>
    </div>
</footer>