<header class="madal-header">
    <div class="modal-container">
        <div class="header-modal-section">
            <nav class="modal-navigation"></nav>
<a href="" class="logo-navigation">
<svg class="logo-film" width="24" height="24">
            <use href="./images/sprite.svg#icon-film"></use>
        </svg>
    <span class="modal-logo-text">Filmoteka</span>
</a>
    <ul class="navigation-list">
        <li class="navigation-item"><a href="">Home</a></li>
        <li class="navigation-item"><a href="">my library</a></li>
    </ul>
</nav>
<div class="modal-btn">
<button>Watched</button>
<button>queue</button>
</div>
</div>
    </div>
</header>
<body>
    <div class="modal-container">  
        <!--сюда добавляем карточку одного фильма -->
    </div>
</body>
<footer class="footer">
    <div class="footer-copy">
        <span>&copy; 2020 | All Rights Reserved | Developed with</span>
        <svg class="icon-heart">
            <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        <span>by <a class="footer-link" href="#">GoIT Students</a></span>
    </div>

</footer>