.footer {
    background-color: $background-primaty-color;
    font-family: Roboto;
    color: $footer-text-color;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 30px;
  }
  
  .footer-copy {
    margin: 0px;
    font-size: 16px;
    line-height: 0.84;
  }

  .icon-heart {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
  }