.footer {
    background-color: $background-primaty-color;
    font-family: Roboto;
    color: $footer-text-color;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 30px;
  }
  
  .footer-copy {
    margin: 0px;
    font-size: 16px;
    line-height: 1.19;

    @media screen and (max-width: $mobile) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .icon-heart {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
  }

  .footer-link {
    text-decoration: none;
  }



  /* МОДАЛКА */
.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;
      align-self: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 528px;
  text-align: center;
  background-color: #ffffff;
  color: #212121;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


// Контактs

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* TEAM-COMMAND */
.command {
  padding-bottom: 94px;
}

.command__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 50px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;
}

.person__item {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 24px;
  margin-left: 34px;
           box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.person__item:first-child {
  margin-left: 0px;
}

.person__image {
  padding-bottom: 30px;
}

.person__label {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
}

.person__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  padding-bottom: 28px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-evenly;
}

.social__link {
  display: flex;
          align-items: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.svg-insta {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.svg-faceb {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.svg-twit {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.svg-linked {
  fill: currentColor;
  width: 20px;
  height: 20px;
}