.space-filler {
  min-height: calc(100vh - 306px); //чтобы прижать футер вниз
}

.section {
  min-width: 300px;
  padding: 20px 0 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
  max-width: $tablet - 1;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    max-width: $tablet;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 15px;
    padding-right: 15px;
  }
}
