// .section {
//   padding-top: 20px;
//   padding-bottom: 40px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .container {
//   flex-grow: 1;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
// }
// @media screen and (min-width: 320px) and (max-width: 767px) {
//   .container {
//     max-width: $mobile;
//   }

//   .section {
//     max-width: $mobile;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container {
//     max-width: $tablet;
//     padding-left: 75px;
//     padding-right: 75px;
//   }
//   .section {
//     padding-bottom: 60px;
//     max-width: $tablet;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .container {
//     max-width: $desktop;
//     padding-left: 71px;
//     padding-right: 71px;
//   }

//   .section {
//     max-width: $desktop;
//   }
// }

// .js-movies-container {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: center;
//   padding: 60px 70px 50px;
//   margin: -15px;
// }
